#header div {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 10px;
    background: none;
    margin: 6px auto;
}

#header div a {
    color: black;
    border: 1px solid #5d910b;
    background: linear_gradient(#93bd20, #659e10);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
    background-color: white;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

p.intro {
    text-align: center;
    font-style: italic;
}

p.introquote {
    text-align: right;
    font-style: italic;
}

section p {
    text-align: justify;    
}

section p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
