#header div {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 10px;
    background: none;
    margin: 6px auto;
}

#header div a {
    color: black;
    border: 1px solid #5d910b;
    background: linear_gradient(#93bd20, #659e10);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
    background-color: white;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

p.intro, p.figure {
    text-align: center;
    font-style: italic;
}

p.introquote {
    text-align: right;
    font-style: italic;
}

section p {
    text-align: justify;    
}

section p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.title_text {
    text-align: center;
}

div.title_sub_text {
    text-align: center;
}

div.list_hor {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.list_hor div.item_left {
  float: left;
  width: 33%;
}

div.list_hor div.item_center {
  float: left;
  text-align: center;
  width: 34%;
}

div.list_hor div.item_right {
  float: right;
  text-align: right;
  width: 33%;
}

div.title_bottom_line {
    clear: both;
}

div.published {
    float: right;
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
}
