div#header div.header_wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 0px;
    background: none;
}
/*
div#header a.header_button {
    color: black;
    border: 1px solid #5d910b;
    background: linear_gradient(#93bd20, #659e10);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
    background-color: white;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
*/
div#header div.header_button {
    border: 1px solid #5d910b;
    background: linear_gradient(#93bd20, #659e10);
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7);
    background-color: white;
    padding: 10px 12px;
    margin-top: 6px;
    float: left;
}

div#header div.header_button a {
    color: black;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
}

div#header div.header_text {
    background: none;
    padding: 10px 12px;
    margin-top: 6px;
    float: right;
}

div#header div.header_text a {
    line-height: 14px;
    font-size: 14px;
    text-align: right;
}

div#header div.header_wrapper div.header_footer {
    clear: both;
}

a {
    overflow-wrap: break-word;
}

p.intro, p.figure {
    text-align: center;
    font-style: italic;
}

p.introquote {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-style: italic;
}

section p {
    text-align: justify;    
}

section p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#title {
    margin-bottom: 0px;
}

div.article_logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

div.article_title {
  text-align: center;
}

div.article_subtitle {
    text-align: center;
}

div.chapter_line hr {
    margin-bottom: 10px;
}

div.chapter_title {
    text-align: center;
}

div.chapter_navigator {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.chapter_navigator div.chapter_prev {
  float: left;
  width: 50%;
}

div.chapter_navigator div.chapter_next {
  float: left;
  text-align: right;
  width: 50%;
}

div.chapter_navigator div.chapter_footer {
    margin-bottom: 10px;
    clear: both;
}

div.chapter_navigator div.chapter_disabled {
    color: #696969;
}

div.published_line hr {
    margin-bottom: 10px;
}

div.published {
    text-align: right;
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
}
