<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    
    <!-- Web Site Image -->
    <meta property="og:image" content="https://jmgarridopaz.github.io/assets/images/website.png">
    <meta property="og:type" content="website" />
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="https://jmgarridopaz.github.io/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/icons/apple-touch-icon.png' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/icons/favicon-32x32.png' }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ '/assets/images/icons/favicon-194x194.png' }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/icons/android-chrome-192x192.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/icons/favicon-16x16.png' }}">
    <link rel="manifest" href="{{ '/assets/images/icons/site.webmanifest' }}">
    <link rel="mask-icon" href="{{ '/assets/images/icons/safari-pinned-tab.svg' }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/icons/mstile-144x144.png' }}">
    <meta name="msapplication-config" content="{{ '/assets/images/icons/browserconfig.xml' }}">
    <meta name="theme-color" content="#000000">
    <!-- END FAVICON -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/mystyle.css' }}">
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <div>
        <a href="https://jmgarridopaz.github.io">Home</a>
        <a href="https://jmgarridopaz.github.io/content/articles.html">Articles</a>
        <a href="https://jmgarridopaz.github.io/content/contact.html">Contact</a>
        </div>
      </div><!-- end header -->

    <div class="wrapper">

      <section>

        {{ content }}
        
      </section>

    </div>
        
    <script>
      commentBox('5650367689785344-proj', {backgroundColor: '#252525',textColor: '#fff'});
    </script>
    
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
